html {
  background-color: #10241c;
}

h1{
  text-align: center;
  color: rgb(176, 176, 176);
  font-family: Georgia, Verdana, sans-serif;

  font-size: 45px;

}
.button {
margin: 0 auto;
display: block;
font-family: Georgia, Verdana, sans-serif;
font-size: 40px;
color: rgb(105, 105, 105);
background-size: 100%;
width: 50%;
margin-bottom: 50px;
}
button:hover {
  color: #10241c;
}

.no-underline {
  text-decoration: none;
  font-style: italic;
}
